@import "../../global.scss";

.topbar{
    background-color: $primary-color;
    height: 70px;
    position: fixed;
    top: 0;
    color: $secondary-color;
    width: 100%;
    z-index: 2;
    transition: all 1s;
    
    .wrapper{
        padding: 10px 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include mobile{
            padding: 10px 10px;
            margin: 10px;
        }

        .left{
            font-size: 16px;
            display: flex;
            align-items: center;
            
            
            .logo{
                color: #990100;
                font-size: 40px;
                font-weight: 700;
                text-decoration: none;
                
                @include mobile{
                    font-size: 7vw;
                    text-align: center;
                }
            }

            .itemcontainer{
                display: flex;
                align-items: center;

                >*{
                    margin-left: 5px;
                }

                .icon{
                    margin-left: 20px;
                }

                @include mobile{
                    display: none;
                }
            }
        }

        .right{
            height: 100%;
            align-items: center;
            display: flex;

            .resumebutton{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100px;
                height: 100%;
                

                .btn-2 {
                    letter-spacing: 0;
                    transition: border-width 0.6s ease;
                    transition: letter-spacing 0.3s ease-in-out;
                    height: 100%;
                    font-size: auto;
                    color: $secondary-color;

                    &:hover{
                        letter-spacing: 3px;
                        border: 3px solid $secondary-color;
                        border-width: 2px 0px 2px 0px;
                    }
                }
            }
            

            .hamburger{
                scrollbar-width: none;
                &::-webkit-scrollbar{
                    display: none;
                }
                overflow: hidden;

                height: 25px;
                width: 28px;
                display: flex;
                justify-content: space-between;
                flex-direction: column;
                cursor: pointer;

                span{
                    background-color: $secondary-color;
                    width: 100%;
                    height: 3px;
                    transform-origin: left;
                    transition: all 1s;
                }
            }
        }
    }

    &.active{
        background-color: $secondary-color;
        color: $primary-color;
        
        .wrapper .left .logo{
            color: #F77F00;
        }

        .right{
            .resumebutton .btn-2{
                // background-color: $primary-color;
                color: $primary-color;
            }

            .hamburger{
                span{
                    background-color: $primary-color;
                    width: 32px;
                    &:first-child{
                        transform: rotate(44deg);
                    }
                    &:nth-child(2){
                        opacity: 0;
                    }
                    &:last-child{
                        transform: rotate(-44deg);
                    }
                }
            } 
        } 
    }
}